@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    background: url(https://images.unsplash.com/photo-1684868623487-681b0e249c1f?q=80&w=2128&auto=format&fit=crop&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D);
}

.title{
    color: rgb(255, 253, 243);
    user-select: none;
    font-weight: 800;
    font-size: 25px;
    font-family: "Roboto", sans-serif;
    text-shadow: 4px 4px 4px rgba(0,0,0, 0.2);

    padding: 10px 20px;
    border-radius: 12pt;
}

.blur{
    background-color: rgba(18, 22, 60, 0.536);
    backdrop-filter: blur(3.5rem);
    box-shadow: 4px 4px 4px rgba(0,0,0, 0.3);

    border-top: 2px solid rgba(255, 255, 255, 0.2);
    border-left: 2px solid rgba(255, 255, 255, 0.3);

    transition: 0.2s;
}

.container{
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    flex-shrink: 1;
    align-items: center;
    justify-content: space-between;

    gap: 40px;

    height: 100vh;
}

.content{

    display: flex;
    flex-direction: column;
    flex-grow: 1;
    flex-shrink: 1;
    align-items: center;
    justify-content: center;

    gap: 40px;

    height: 100%;
}

.calc{
    display: flex;
    flex-direction: row;
    flex-basis: 600px;

    justify-content: center;
    align-items: center;

    width: 700px;

    border-radius: 12pt;

    padding: 20px;

    gap: 20px;
}

.result{
    overflow-y: hidden;
    overflow-x: auto;
    white-space: nowrap;
    direction: ltr;

    width: 400px;
    height: 160px;

    font-size: 50px;
    font-family: "Roboto", sans-serif;
    text-align: right;

    padding: 10px;
    border-radius: 12px;


}
.equation{
    height: 60%;
    flex-grow: 1;
    color: rgba(255, 253, 243, 0.573);
}
.equals{
    flex-grow: 1;
    color: rgb(255, 253, 243);
}


/* scroll bar */
.result::-webkit-scrollbar{
    height: 6px;
}

.result::-webkit-scrollbar-track{
    border-bottom-left-radius: 12px;
    border-bottom-right-radius: 12px;
}

.result::-webkit-scrollbar-thumb{
    border-radius: 4px;
    background-color: rgba(156, 209, 255, 0.369);
}

.left{
    display: flex;
    flex-direction: column;
    flex-grow: 1;

    justify-content: center;
    align-items: center;

    gap: 30px;
}

.numbers{
    display: flex;
    flex-direction: row-reverse;

    flex-wrap: wrap;

    justify-content: flex-end;
    align-content: center;
    align-items: center;

    gap: 20px;
}

.ops{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;

    justify-content: center;

    gap: 20px
}

.right > button{
    margin-left: auto;
}

footer{
    width: 100%;
    text-align: center;
    color: rgb(255, 253, 243); 
    font-size: 20px;
    font-weight: 400;
}

footer a{
    font-size: 25px;
    text-decoration: none;
    color: rgb(255, 253, 243);
}

button{
    user-select: none;

    padding: 10px 25px;
    font-size: 30px;
    flex-basis: 40px;
    text-align: center;

    flex-basis: 120px;
    flex-shrink: 1;

    width: 70px;
    height: 70px;

    font-family: "Roboto", sans-serif;
    color: rgb(255, 253, 243);
    font-size: 35px;
    font-weight: 600;

    border: none;
    border-radius: 12pt;

    outline: none;
}

button:active{
    scale: 1.1;
    background-color: rgba(49, 56, 128, 0.536);
}

.active{
    scale: 1.1;
    background-color: rgba(49, 56, 128, 0.536);
}
