@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    background: url(https://images.unsplash.com/photo-1684868623487-681b0e249c1f?q=80&w=2128&auto=format&fit=crop&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D);
}

.title{
    color: rgb(255, 253, 243);
    user-select: none;
    font-weight: 800;
    font-size: 25px;
    font-family: "Roboto", sans-serif;
    text-shadow: 4px 4px 4px rgba(0,0,0, 0.2);

    padding: 10px 20px;
    border-radius: 12pt;
}

.blur{
    background-color: rgba(18, 22, 60, 0.536);
    backdrop-filter: blur(3.5rem);
    box-shadow: 4px 4px 4px rgba(0,0,0, 0.3);
}

.container{
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    flex-shrink: 1;
    align-items: center;
    justify-content: center;

    gap: 40px;

    height: 100vh;
}

.calc{
    display: flex;
    flex-direction: column;
    flex-wrap: 1;
    flex-basis: 700px;

    justify-content: center;
    align-items: center;

    height: 700px;
    width: 500px;

    border-radius: 12pt;
}

.result{
    flex-grow: 1;

    font-size: 50px;
    font-family: "Roboto", sans-serif;
    color: rgb(255, 253, 243);
}

.buttons{
    flex-grow: 5;
    align-self: stretch;

    display:flex;
    flex-direction: row;

    padding: 20px;
}

.numbers{
    display: flex;
    flex-direction: row-reverse;

    flex-wrap: wrap;

    justify-content: space-evenly;
    align-content: center;
    align-items: center;

    gap: 30px;
}

button{
    user-select: none;

    padding: 10px 25px;
    font-size: 30px;
    flex-basis: 40px;

    flex-basis: 120px;
    flex-shrink: 1;
    flex-grow: 1;

    font-family: "Roboto", sans-serif;
    color: rgb(255, 253, 243);
    font-size: 35px;
    font-weight: 600;

    border: none;
    border-radius: 12pt;
}